.radar {
  position: absolute;
  width: 20vw;
  right: 0;
}

.container {
  position: relative;
  overflow: hidden;
}

.container__background {
  width: 100%;
  display: block;
}

.container__cover {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.container__speedIndicator {
  position: absolute;
  left: 6.8%;
  top: 19.2%;
  width: 11.5%;
  transition: all 1s ease-in-out;
}

.container__rearIndicator {
  position: absolute;
  width: 12.5%;
  left: 31.32%;
  top: 16.5%;
  transition: all 1s ease-in-out;
}

.container__positionIndicator {
  position: absolute;
  width: 16%;
  left: 54.6%;
  top: 35.5%;
}

.container__minuteIndicator {
  position: absolute;
  left: 80.35%;
  top: 7.4%;
  width: 12%;
}

.container__hourIndicator {
  position: absolute;
  left: 79.85%;
  top: 5.3%;
  width: 13%;
}

.container__month {
  position: absolute;
  top: 80.8%;
  left: 79.1%;
  font-size: 1.5vw;
  letter-spacing: 0.28vw;
  font-family: "Avenir-Medium";
  color: white;
}

.container__day {
  position: absolute;
  top: 80.8%;
  left: 83.55%;
  font-size: 1.5vw;
  letter-spacing: 0.65vw;
  font-family: "Avenir-Medium";
  color: white;
}

.container__year {
  position: absolute;
  top: 80.8%;
  left: 88.55%;
  font-size: 1.5vw;
  letter-spacing: 0.59vw;
  font-family: "Avenir-Medium";
  color: white;
}
