.container {
  width: 100%;
  height: 100%;
}

.background {
  background-color: #c4c4c4;
  border-radius: 189px;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  position: relative;
}

.foreground {
  border: 2px solid black;
  margin: 110px;
  border-radius: 78px;
  background-color: white;
  height: calc(100% - 132px);
  width: calc(100% - 166px);
  bottom: -44px;
  left: -30px;
  position: absolute;
}

.car {
  width: 100px;
  position: absolute;
  transition: all 1s ease-in-out;
}

@media (min-width: 768px) {
}
