.admin {
  background-color: #FAFAFA;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .admin {
    flex-direction: row;
  }
}

.console {
  background-color: #2B2B2B;
  width: 100%;
  font-family: 'Encode Sans Condensed', sans-serif;
  text-align: left;
  color: #F1F1F1;
  padding: 10px;
}

.console_line {
  margin: 5px;
}

.actions {
  width: 100%;
  padding: 20px 0 30px;
}

.title {
  font-size: 24px;
  text-transform: uppercase;
  padding: 20px 0;
}

.button {
  font-size: 14px;
  background-color: #FFFFFF;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 2px;
  border: solid 1px #EB5757;
  max-width: 300px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.button:hover {
  background-color: #EB5757;
  color: #FFFFFF;
}
