.container {
  display: flex;
  align-items: center;
  background-color: #000000;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  grid-row: span 1 / 3;
}

.side {
  background-color: #000000;
}

.container__background {
  background-color: #0d2922;
  position: relative;
}

.container__contributors {
  position: absolute;
  top: 30%;
  left: 15%;
  display: flex;
  width: 70%;
  align-items: center;
  overflow: hidden;
}

.contributors__column {
  font-family: "Tomorrow";
  font-size: 2.2vw;
  line-height: 150%;
  text-align: center;
  flex-grow: 1;
  color: #00e6c3;
}

.contributors__column span {
  display: block;
}

.container__indicator {
  position: absolute;
  height: 4.5%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  filter: blur(0.4vw);
  display: flex;
  animation: rotate 6s linear infinite;
}

.container__indicator__invisible {
  width: 50%;
}

.container__indicator__red {
  background: #ff434e;
  width: 50%;
  height: 100%;
}

.container__image {
  width: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.disclaimer {
  font-family: "Auto-Digital";
  color: white;
  font-size: 2vw;
  text-transform: uppercase;
  background-color: #ff434e;
  position: absolute;
  bottom: 13%;
  width: 100%;
  height: 5%;
  padding-top: 1%;
}

.disclaimer span {
  transform: translateX(100%);
  animation: disclaimer 15s linear infinite;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

@keyframes disclaimer {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-50%);
  }
}
