.container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.counter {
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 768px) { 
  .container {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #C4C4C4;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  
  .counter {
    margin-top: 16px;
    font-size: 48px;
    font-weight: bold;
  }
}