.container {
  width: 100%;
  height: 100%;
  background: black;
  display: grid;
  grid-template-columns: calc(1fr - 1px) 1fr;
  grid-template-rows: auto 4%;
  overflow: hidden;
}

.container__left {
  grid-row: 1;
  grid-column: 1;
  border-right: 1px dashed #00f3c2;
  display: grid;
  grid-template-rows: 50% 10% 40%;
}

.container__right {
  grid-row: 1;
  grid-column: 2;
  display: grid;
  grid-template-rows: 50% 10% 40%;
}

.container__character {
  height: 40vh;
  align-self: center;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.container__character__frame {
  height: 40vh;
}

.container__left__zombie {
  position: absolute;
  height: 30vh;
}

.container__right__unicorn {
  position: absolute;
  height: 30vh;
}

.container__characterName {
  height: 5vh;
  justify-self: center;
  align-self: start;
}

.container__digits {
  font-family: "Digital-Display";
  font-size: 20vh;
  letter-spacing: 0.04vw;
  height: 20vh;
  text-indent: 1vw;
  position: relative;
  color: #00453b;
  justify-self: center;
  align-self: center;
}

.container__digits__full {
  color: #00f3c2;
  position: absolute;
  text-align: right;
  width: 100%;
  top: 0;
}

.container__bottom {
  grid-row: 2;
  grid-column: span 2;
  background-color: #00453b;
  display: flex;
  position: relative;
  align-items: center;
}

.container__bottom__emptyBar {
  width: calc((100% / 20));
  height: 100%;
  display: inline-block;
  background-color: transparent;
  z-index: 3;
}

.container__bottom__emptyBar + .container__bottom__emptyBar {
  border-left: 2px solid black;
}

.container__bottom__progress {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: #00f3c2;
  z-index: 2;
}

.container__bottom__progress--left {
  left: 0;
}

.container__bottom__progress--right {
  right: 0;
}

.container__bottom__progressPoint {
  height: 1.5vh;
  width: 1.5vh;
  border-radius: 100%;
  background-color: #f50041;
  position: absolute;
  z-index: 3;
}
