.container {
  background-color: white;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .container__video {
  }

  .container__panel {
    flex: 1;
  }

  .container__panel__image {
    width: 100%;
  }
}
