.container {
  display: flex;
  justify-content: space-between;
}

.statusButton {
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  opacity: 0.5;
}

.text {
  display: none;
}

.statusButton.STARTED {
  background-color: #63c18b;
  border: 2px solid green;
}

.statusButton.AWAITING {
  background-color: #EB5757;
  border: 2px solid red;
}

.statusButton.FINISHED {
  background-color: #2D9CDB;
  border: 2px solid blue;
}

.statusButton.active {
  opacity: 1;
}


@media (min-width: 768px) { 
  .statusButton {
    width: 183px;
    height: 54px;
    line-height: 54px;
    font-size: 24px;
    border-radius: 89px;
  }   
  
  .text {
    color: white;
    display: block;
  }
}

