.container {
  display: grid;
  grid-template-rows: 2fr 8fr; 
  grid-gap: 24px;
  padding: 24px;
  height: calc(100% - 48px);
  background-color: #CFCFCF;
}

.logo {
  grid-row: 1;
  margin: auto;
  height: calc(100% - 20px);
  margin: auto;
  background-color: white;
  border-radius: 100px;
  padding: 10px;
}

.dashboard {
  grid-row: 2;
  background-color: green;
}
